<div class="d-flex flex-column p-3">
  <h4 class="mb-4">Navigation</h4>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">🏠 Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profile' %}">🙍 Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'task-list' %}">📝 Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'worker-list' %}">👥 Workers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'task-type-list' %}">📂 Task Types</a>
    </li>
  </ul>
</div>
